body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background: linear-gradient(135deg, #0f766e, #022c22);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.app {
  width: 430px;
  background: white;
  padding: 25px;
  border-radius: 15px;
  box-shadow: 0 20px 50px rgba(0,0,0,0.2);
}

.logo {
  text-align: center;
  font-size: 35px;
  font-weight: 700;
  color: #0f766e;
}

.desc {
  text-align: center;
  font-size: 14px;
  color: #64748b;
  margin-bottom: 25px;
}

input {
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  border: 1px solid #d1d5db;
  margin-bottom: 12px;
  font-size: 15px;
}

button {
  width: 100%;
  padding: 12px;
  border: none;
  background: #0f766e;
  color: white;
  font-size: 16px;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 5px;
}

button:hover {
  opacity: .9;
}

.err {
  color: #dc2626;
  font-size: 14px;
  margin-top: 8px;
  text-align: center;
}

.hint {
  margin-top: 15px;
  background: #f1f5f9;
  padding: 10px;
  border-radius: 10px;
  font-size: 12px;
}

.grid {
  margin-top: 25px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
}

.box {
  background: #f8fafc;
  padding: 14px;
  border-radius: 12px;
  border: 1px solid #e2e8f0;
  text-align: center;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logout {
  background: #dc2626;
}

.role {
  margin-top: 10px;
  background: #ecfdf5;
  color: #0f766e;
  padding: 6px;
  border-radius: 10px;
  text-align: center;
  font-size: 13px;
}